html {
    font-family: 'MonteCarlo', cursive;
    font-family: 'Montserrat', sans-serif;
}
form label{
    width: 150	px;
    font-weight: bold;
    display:inline-block;
}
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100px 100px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
form input[type="text"],
form input[type="email"]{
    width: 180px;
    padding: 3px 10px;
    border:1px solid #C5C6C4;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}
textarea{
  width: 100%;
  height: 100px;
  border:1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block;
}
form{
    width: 600px;
    padding: 16px;
    border-radius: 10px;
    margin-left: 180px;
	margin-top: 30px;
    background-color: #364552;
}
body {
    margin: 0;
    background-color: #efefef;
}
header{
    font-family:'MonteCarlo', cursive;
    background-color: #364552;
    color: white;
    padding: 0.001rem 0rem;
    text-align: center;
    margin: 0 auto;
}
#fondo {
    background-color: rgba(255,255,255);
    /*opacity: 0.3;*/
    height: 200px;
    background-image: url('ajedrez5.jpg');
    background: rgb(230, 228, 228) url('ajedrez5.jpg') repeat bottom / 400px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0rem;
    overflow: hidden;
    background-color: #5b5b5b;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: black;
    display: block;
    color: white;
    text-decoration: none;
}
header h1 {
    text-align: center;
    font-size: 3cm;
}
.container {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    width: 800px;
    padding: 0.25rem 0;
    margin: 0 auto;
}
section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius:0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);

}
section article h2, section article p{
    margin: 1rem;

}
div.Estilos {
    margin: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #222;
    float: center;
    width: 200px;
  }
  
div.Estilos:hover {
    border: 1px solid rgb(255, 255, 255);
  }
  
div.Estilos img {
    width: 250%;
    height: auto;
}
  
div.desc {
    padding: 10px 3px;
    text-align: left;
    color: #ffffff;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: white;
}
footer section{
    float: right;
}

footer p {
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: cornflowerblue;

}
